@font-face {
  font-family: "star-ui-iconfont"; /* Project id 2493685 */
  src: url('iconfont.woff2?t=1636814190896') format('woff2'),
       url('iconfont.woff?t=1636814190896') format('woff'),
       url('iconfont.ttf?t=1636814190896') format('truetype');
}

.star-ui-icon-font {
  font-family: "star-ui-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.star-ui-icon-menu:before {
  content: "\e65f";
}

.star-ui-icon-add:before {
  content: "\e6da";
}

.star-ui-icon-home:before {
  content: "\e6b8";
}

.star-ui-icon-code:before {
  content: "\e667";
}

.star-ui-icon-close:before {
  content: "\e668";
}

.star-ui-icon-clean:before {
  content: "\e600";
}

.star-ui-icon-select:before {
  content: "\e67e";
}

.star-ui-icon-arrow-left:before {
  content: "\e604";
}

.star-ui-icon-arrow-up:before {
  content: "\e601";
}

.star-ui-icon-arrow-down:before {
  content: "\e603";
}

.star-ui-icon-arrow-right:before {
  content: "\e602";
}

.star-ui-icon-arrow-up-filling:before {
  content: "\e689";
}

.star-ui-icon-arrow-down-filling:before {
  content: "\e68a";
}

.star-ui-icon-arrow-left-filling:before {
  content: "\e68b";
}

.star-ui-icon-arrow-right-filling:before {
  content: "\e68c";
}

