:root{
	/*背景颜色*/
	--star-ui-backgorund-color:#FFF;
	/*表格头*/
	--star-ui-table-head-color:#f8f8f9;
	/*基础颜色*/
	--star-ui-base-color:#8AF;
	/*线条颜色*/
	--star-ui-line-color:#8AF;
	--star-ui-regular-text-color: #606266;
	/*线路宽度*/
	--star-ui-line-width:1px;
	/*圆角*/
	--star-ui-border-radius:5px;
	/*输入框边框默认颜色*/
	--star-ui-input-border-color:#666;
	/*中等大小输入框字体大小*/
	--star-ui-input-medium-font-size:16px;
	/*小输入框字体大小*/
	--star-ui-input-mini-font-size:12px;
	/*输入框默认宽度*/
	--star-ui-input-default-width:280px;
	--star-ui-default-padding:5px;
}
.dark-mode{
	--star-ui-backgorund-color:#555;
}
@import url("./icon-font/iconfont.css");
.star-ui{
	margin:0;
	padding: 0;
	position: relative;
}
/*内容容器大大小*/
.star-ui-container{
	padding: var(--star-ui-default-padding);
}
.star-ui-size-medium{
	font-size: var(--star-ui-input-medium-font-size);
	line-height: var(--star-ui-input-medium-font-size);
	padding: var(--star-ui-default-padding);
	border-radius: var(--star-ui-border-radius);
}
/*小尺寸空间参数*/
.star-ui-size-mini{
	font-size: var(--star-ui-input-mini-font-size);
	line-height: var(--star-ui-input-mini-font-size);
	padding: calc(var(--star-ui-default-padding) / 2);
	border-radius: calc(var(--star-ui-border-radius) / 2);
}