:root{
	/*背景颜色*/
	--star-ui-backgorund-color:#FFF;
	/*表格头*/
	--star-ui-table-head-color:#f8f8f9;
	/*基础颜色*/
	--star-ui-base-color:#8AF;
	/*线条颜色*/
	--star-ui-line-color:#8AF;
	/*线路宽度*/
	--star-ui-line-width:1px;
	/*圆角*/
	--star-ui-border-radius:5px;
	/*输入框边框默认颜色*/
	--star-ui-input-border-color:#666;
	/*中等大小输入框字体大小*/
	--star-ui-input-medium-font-size:16px;
	/*小输入框字体大小*/
	--star-ui-input-mini-font-size:12px;
	--star-ui-input-default-width:280px;
}
.dark-mode{
	--star-ui-backgorund-color:#555;
}
@import url("./icon-font/iconfont.css");
.star-ui{
	margin:0;
	padding: 0;
	position: relative;
}
/*内容容器大大小*/
.star-ui-container{
	padding: 5px;
}